@{
    
    ViewData["Title"] = "Form";
}

@model PatientViewModel

<head>
    <link href="/css//css/InvalidField.css" />
</head>
<div class="text-left align-center">
    <h1 class="display-4">Formulier</h1>
    <form method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="Name">Naam: </label>
        <input asp-for="Name" />
        <br />
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" />
        <br />
        <label asp-for="DateOfBirth">Geboortedatum: </label>
        <input asp-for="DateOfBirth" />
        <br />
        <label asp-for="Phone">Telefoonnummer: </label>
        <input asp-for="Phone" />
        <br />
        <button class="btn btn-success" type="submit">Verstuur</button>
    </form>
</div>

