
@{
    ViewData["Title"] = "FormSubmitConfirmation";
}
<div>
<h1 class="display-4">Bedankt voor het aanmelden als patient</h1>
<button class="btn btn-success btn-lg btn-block" type="button" asp-controller="Home" onclick="location.href='@Url.Action("Index")'">Terug naar de hoofdpagina</button>
</div>
