@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom op deze fysiotherapie webtool!</h1>
    <p>Vul <a asp-action="Form">het formulier</a> in.</p>
</div>
